.employeeSearch {
    background-color: #eee;
    padding-top : 5px;
    padding-bottom : 25px;
}

.helperMessage{
    margin-left: 25%;
}

.employeeData{
    margin-left: 25%;
    padding-top : 25px;
}

